/*This is a variable file*/
$color-grey: #555;
$color-deepSkyBlue: #1E90FF;

/**Colors**/

/*Navigation Colors*/
$nav-background: $color-grey;
$nav-text-color: white;


/*Clock Colors*/
$clock-text-color: white;
$clock-bg-color: $color-deepSkyBlue;
$clock-border-color: black;